{% extends "_base/attribute.html.jinja" %}

    {% block heading scoped %}
      {#- Heading block.

      This block renders the heading for the attribute.
      -#}
      {% if config.separate_signature %}
        {{ super() }}
      {% else %}
        <span class="signature-and-symbol">
            {% if config.show_symbol_type_heading %}<code class="doc-symbol doc-symbol-heading doc-symbol-attribute"></code>{% endif %}
            <span class="signature sig-attr">
                {%- if show_full_path -%}
                    <span class="sig-path-root">{{attribute.parent.path}}.</span>
                {%- endif -%}
                <span class="sig-path-name">{{ attribute.name }}</span>
                {%- if attribute.annotation and config.show_signature_annotations -%}
                    <span class="sig-attr-type-colon sig-type-colon">:</span>
                    <span class="sig-attr-type-expr sig-type-expr">
                        {%- with expression = attribute.annotation -%}
                            {%- include "expression"|get_template with context -%}
                        {%- endwith -%}
                    </span>
                {% endif %}
                {% if attribute.value -%}
                    <span class="sig-attr-default sig-default"><span class="sig-attr-default-equals sig-default-equals"> = </span>
                    <span class="sig-attr-default-expr sig-default-expr">
                        {%- if attribute.value|string|length < 30 -%}
                            {%- if config.signature_crossrefs -%}
                                {%- with expression = attribute.value, backlink_type = "used-by" -%}
                                    {%- include "expression"|get_template with context -%}
                                {%- endwith -%}
                            {%- else -%}
                                {{- attribute.value|safe -}}
                            {%- endif -%}
                        {%- else -%}
                            ...
                        {%- endif -%}
                    </span>
                {%- endif -%}
            </span>
        </span>
      {% endif %}
    {% endblock heading %}
